<div class="page-header">
  <h1>New house for lease</h1>
</div>
<%= content_tag :div, :class => "col-md-6" do %>
<%= form_tag "/houses", :class => "input-groups" do %>
  <%= label_tag "House name" %>
  <%= text_field_tag  "name", "", autofocus: true, :class => "form-control" , placeholder: "House name", required: true %>

  <%= label_tag "Address" %>
  <%= text_field_tag  "address", "", :class => "form-control" , placeholder: "Address", required: true %>

  <%= label_tag "Room" %>
  <%= text_field_tag  "room", "", :class => "form-control" , placeholder: "Room" %>

  <%= label_tag "Rate" %>
  <%= content_tag :div, :class => "input-group" do %>
  <span class="input-group-addon">$</span>
  <%= text_field_tag  "rate", "",type: "number", :class => "form-control" , placeholder: "rate", required: true %>
  <span class="input-group-addon" id="sizing-addon1">per month</span>
  <% end %>
  <%= content_tag :div, :class => "col-md-6" do %>
  <%= label_tag "Number of Bedrooms" %>
  <%= text_field_tag  "nb1", "", :class => "form-control" , placeholder: "bedrooms", required: true %>
  <% end %>
  <%= content_tag :div, :class => "col-md-6" do %>
  <%= label_tag "Number of Bathrooms" %>
  <%= text_field_tag  "nb2", "", :class => "form-control" , placeholder: "bathrooms", required: true %>
  <% end %>

  <%= label_tag "Renting time period" %>
  <%= content_tag :div, :class => "input-group" do %>
  <span class="input-group-addon">From</span>
  <%= text_field_tag  "start-date", "",type: "date", :class => "form-control" , required: true %>
  <% end %>

  <%= label_tag "" %>
  <%= content_tag :div, :class => "input-group" do %>
  <span class="input-group-addon">From</span>
  <%= text_field_tag  "end-date", "",type: "date", :class => "form-control" , required: true %>
  <% end %>

  <%= label_tag "" %>
  <%= submit_tag "submit", :class => 'btn btn-lg btn-primary btn-block' %>
<% end %>
<% end %>