<div class="page-header">
  <h1><%= @house.building_name %> <%= @house.room %></h1>
</div>
<table class = "table-detail">
  <tbody>
    <tr><td> Address </td><td><%= @house.address %></td></tr>
    <% if @house.room.present? %>
    <tr><td> Room </td><td><%= @house.room %></td></tr>
    <% end %>
    <tr><td> Rate </td><td>$<%= @house.rate %>/month </td></tr>
    <tr><td> <%= @house.number_of_bedrooms %> bedrooms </td><td> <%= @house.number_of_bathrooms %> bathrooms</td></tr>
    <tr><td> Host </td><td><%= link_to @house.host.name, "/users/#{@house.host.user.id}" %> </td></tr>
    <tr><td> Start date </td><td><%= @house.start_date %></td>
    <tr><td> End date </td><td><%= @house.end_date %></td></tr>
    

  </tbody>
</table>
<% if session["user_id"].present? %>
  <% if User.find_by(id: session["user_id"]).host.present? %>
    <% if User.find_by(id: session["user_id"]).host == @house.host %>
      <h2><%= link_to "EDIT","/houses/#{@house.id}/edit" %> </h2>
    <% end %>
  <% end %>
<% end %>
<% if @house.reservations.size > 0 %>
  <% if @house.availability < 0 %>
    <h2 class="page-header"> THIS HOUSE IS UNAVAILABLE </h2>
  <% else %>
  <h2 class="page-header"> Reservation </h2>
  This house is reserved by <%= @house.reservations[0].renter.name %>
  For more details, <%= link_to "click here","/reservations/#{@house.reservations[0].id}" %>

  <% end %>
<% else %>
  <% if session["user_id"].present? %>
    <% if User.find_by(id: session["user_id"]).renter.present? %>
      <h2 class="page-header"> Reserve Now! </h2>
      <%= form_tag "/reservations" do %>
        <input type="hidden" name="renter_id" value="<%= User.find_by(id: session["user_id"]).renter.id %>"/>
        <input type="hidden" name="house_id" value="<%= @house.id %>"/>
        <%= submit_tag "Reserve", :class => "btn btn-primary btn-block" %>
        </script>
      <% end %>
    <% end %>
  <% end %>
<% end %>